<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net471" />
  <package id="linq2db" version="2.4.0" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.1.0" targetFramework="net471" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net471" />
  <package id="PresentationTheme.Aero" version="0.4.0" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net471" />
</packages>